# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.swp
*~

# Environment files
.env

# Test binary, build with `go test -c`
*.test

# Dependency directories
vendor/

# Project binaries
bin/

# Raw test images
internal/ocr/testdata/images

#
# libocr stuff
#

# Project build files
internal/ocr/_libocr/bin/
internal/ocr/_libocr/build/
internal/ocr/_libocr/lib/
internal/ocr/_libocr/include/
internal/ocr/_libocr/doc/
internal/ocr/_libocr/vagrant/
internal/ocr/_libocr/test/bin/
internal/ocr/_libocr/share
internal/ocr/_libocr/third_party/opencv
internal/ocr/_libocr/third_party/leptonica
