# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.swp
*~

# Environment files
.env

# Test binary, build with `go test -c`
*.test

# Dependency directories
vendor/

# Project binaries
bin/

# Raw test images
internal/ocr/testdata/images

# libocr stuff
internal/ocr/_libocr/bin/
internal/ocr/_libocr/build/
internal/ocr/_libocr/lib/
internal/ocr/_libocr/include/
internal/ocr/_libocr/doc/
internal/ocr/_libocr/vagrant/
internal/ocr/_libocr/test/bin/
internal/ocr/_libocr/share
internal/ocr/_libocr/third_party/opencv
internal/ocr/_libocr/third_party/leptonica
internal/ocr/_libocr/third_party/tesseract

# libcamera stuff
internal/camera/_libcamera/bin/
internal/camera/_libcamera/build/
internal/camera/_libcamera/lib/
internal/camera/_libcamera/include/
internal/camera/_libcamera/doc/
internal/camera/_libcamera/vagrant/
internal/camera/_libcamera/test/bin/
internal/camera/_libcamera/share
internal/camera/_libcamera/third_party/pylon
